{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <title>ENTRE VERBOS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href="
https://cdn.jsdelivr.net/npm/izitoast@1.4.0/dist/css/iziToast.min.css
" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'aplicacion/css/libs.css' %}">
    
</head>

<body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-card" id="myNavbar">
            <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-wide efect">Entre Verbos</a>
            <!-- Right-sided navbar links -->
            <div class="w3-right w3-hide-small l-efect">
                <a href="{% url 'index' %}" class="w3-bar-item w3-button">Inicio</a>
                <a href="{% url 'tienda' %}" class="w3-bar-item w3-button"><i class="fa fa-th"></i> Tienda</a>
              
                {% if user.is_authenticated %}
                <a href="{% url 'carrito' %}" class="w3-bar-item w3-button"><i class="fa fa-usd"></i>
                    Carrito</a>
                <a href="{% url 'usuario' %}" class="w3-bar-item w3-button"><i class="fa fa-user"></i> Usuario: {{user.username}}</a>
                <a href="#" class="w3-bar-item w3-button" onclick="cerrarSesion('/salir/')">
                    <i class="fa fa-envelope"></i> Cerrar sesión
                </a>
                {% else %}
                <a href="{% url 'ini_sesion' %}" class="w3-bar-item w3-button"><i
                    class="fa fa-envelope"></i> Iniciar Sesión</a>
                {% endif %}
            </div>
            <!-- Hide right-floated links on small screens and replace them with a menu icon -->

            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
                onclick="w3_open()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>

    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large"
        style="display:none" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Cerrar
            ×</a>
        <a href="{% url 'index' %}" onclick="w3_close()" class="w3-bar-item w3-button">Inicio</a>
        <a href="{% url 'tienda' %}" onclick="w3_close()" class="w3-bar-item w3-button">Tienda</a>
        <a href="{% url 'carrito' %}" onclick="w3_close()" class="w3-bar-item w3-button">Carrito</a>
        <a href="{% url 'ini_sesion' %}" onclick="w3_close()" class="w3-bar-item w3-button">Iniciar Sesión</a>
        <a href="{% url 'usuario' %}" onclick="w3_close()" class="w3-bar-item w3-button">Usuario</a>
    </nav>

    <div class="w3-container" style="margin-left: autopx; margin-top: 75px;">
        <h2>CARRITO DE COMPRAS</h2>
        <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
            <tr>
                <td><strong>PORTADA</strong></td>
                <td><strong>LIBRO</strong></td>
                <td><strong>CANTIDAD</strong></td>
                <td><strong>VALOR UNITARIO</strong></td>
                <td><strong>SUBTOTAL</strong></td>
                <td><strong>ACCIONES</strong></td>
            </tr>
            {% for item in carrito %}
            <tr>
                <td><img src="{{ item.libro.imagen.url }}" alt="" width="70"></td>
                <td><a href="{% url 'libro' %}" style="text-decoration: underline;">{{ item.libro.titulo }}</a></td>
                <td>{{ item.cantidad }}</td>
                <td>${{ item.libro.precio }}</td>
                <td>{{ total_carrito }}</td>
                <td><a href="{% url 'eliminar_del_carrito' item.id %}"><button>Eliminar</button></a></td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <div id="total">Total: ${{ total_carrito }}</div>
        <a href="{% url 'domicilio' %}">
            <button class="w3-button w3-dark-grey"></i> COMPRAR  </button>
        </a>
    </div>

    <script src="{% static 'aplicacion/js/carrito.js' %}"></script>
    <script src="{% static 'aplicacion/js/messages.js' %}"></script>
    <script src="
https://cdn.jsdelivr.net/npm/izitoast@1.4.0/dist/js/iziToast.min.js
"></script>
</body>

</html>
