{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'aplicacion/css/libs.css' %}">
</head>

<body style="padding-top: 50px;">
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-card" id="myNavbar">
            <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-wide efect">Entre Verbos</a>
            <!-- Right-sided navbar links -->
            <div class="w3-right w3-hide-small l-efect">
                <a href="{% url 'index' %}" class="w3-bar-item w3-button">Inicio</a>
                <a href="{% url 'tienda' %}" class="w3-bar-item w3-button"><i class="fa fa-th"></i> Tienda</a>
                <a href="{% url 'carrito' %}" class="w3-bar-item w3-button"><i class="fa fa-usd"></i>
                    Carrito</a>
                <a href="{% url 'ini_sesion' %}" class="w3-bar-item w3-button"><i
                        class="fa fa-envelope"></i> Iniciar Sesión</a>
                <a href="{% url 'usuario' %}" class="w3-bar-item w3-button"><i class="fa fa-user"></i> Usuario</a>
            </div>
            <!-- Hide right-floated links on small screens and replace them with a menu icon -->

            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
                onclick="w3_open()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>

    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large"
        style="display:none" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Cerrar
            ×</a>
        <a href="{% url 'index' %}" onclick="w3_close()" class="w3-bar-item w3-button">Inicio</a>
        <a href="{% url 'tienda' %}" onclick="w3_close()" class="w3-bar-item w3-button">Tienda</a>
        <a href="{% url 'carrito' %}" onclick="w3_close()" class="w3-bar-item w3-button">Carrito</a>
        <a href="{% url 'ini_sesion' %}" onclick="w3_close()" class="w3-bar-item w3-button">Iniciar Sesión</a>
        <a href="{% url 'usuario' %}" onclick="w3_close()" class="w3-bar-item w3-button">Usuario</a>
    </nav>


    <div class="row mt-5 p-4">
        <div class="col-4 card" style="width:400px">
            <img class="card-img-top" src="{% static 'aplicacion/img/user.jpeg' %}" alt="Card image">
            <div class="card-body text-center">
                <h4 class="card-title">Jhon Doe</h4>
                <p class="card-text">jhondoe5@gmail.com</p>
                <a href="{% url 'c_contra' %}" class="btn btn-primary">Modificar
                    sesión</a>
            </div>
        </div>
        <div class="col-8">
            <table class="table mt-5">
                <thead class="table-dark">
                    <tr>
                        <th>Libro</th>
                        <th>Autor</th>
                        <th>Precio</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>El Hobbit</td>
                        <td>J.R.R. Tolkien</td>
                        <td>13.900</td>
                        <td>Entregado</td>
                        <td><a href="{% url 'libro' %}" class="btn btn-primary">Ver compra</a></td>
                    </tr>
                    <tr>
                        <td>Metro</td>
                        <td>Dmitry Glukhovsky</td>
                        <td>14.9000</td>
                        <td>Entregado</td>
                        <td><a href="{% url 'libro' %}" class="btn btn-primary">Ver compra</a></td>
                    </tr>
                    <tr>
                        <td>Holly</td>
                        <td>Stephen King</td>
                        <td>12.900</td>
                        <td>En proceso</td>
                        <td><a href="{% url 'libro' %}" class="btn btn-primary">Ver compra</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="../../js/menus.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>

</html>